@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

@keyframes scroll-seamless {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll-seamless {
  animation: scroll-seamless 100s linear infinite;
  display: inline-flex;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}